
body {
  background-color: #F6F7EB;
	background-position: right top;
  background-attachment: fixed;
	background-size: cover;
	font-family: "Trebuchet MS" ;
  color: #FFFD98;
	}
#content {
	background-color: white;
	margin-left: 8%;
	margin-right: 10%;
	background-size: cover;
	padding-bottom: 70%;
}
h1{
	text-align: leftwards;
	color: #E94F37 ;
	font-size: 90px;
	margin-left: 0px;
	background-image: url("Untitled-1.jpg");
	margin-bottom: 0px;
	top: 0px;
	left: 200px;
	border-top: 0px;
	border-style: double;
	border-left: 0px;
	border-right: 0px;
	border-color: #73AD21;
	}
h2{
	color: #BAC0C2;
	background-size: cover;
	background-color: #333;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #999999;
}
li {
    float: left;
}
.link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover {
	background: green;
	border-radius: 2px;
}
.rcorners {
    border-radius: 2px;
    border: 1px solid #73AD21;
    padding: 20px;
}
p {
	font-size: 20px;
	background-size: cover;
	background-color: #3F88C5;
	padding: 3px;
}
.upper{
    position: absolute;
    right: 0px;
    top: 0px;
    z-index:-4;
    border: none;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}


